.xx {
  background-image:
  url("../img/gallery/section-bg1.jpg")
}

.xxx {
  background-image:
  url("../img/hero/feedback.jpg")
}

.xxxx {
  background-image:
  url("../img/hero/R-C.jpg")
}

.xxxxx {
  background-image:
  url("../img/hero/notice.jpg")
}